<a href="https://colab.research.google.com/github/Nidhi89717/ML/blob/main/06_Pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Series

A Series is very similar to a NumPy array (in fact it is built on top of the NumPy array object). What differentiates the NumPy array from a Series, is that a Series can have axis labels, meaning it can be indexed by a label, instead of just a number location. It also doesn't need to hold numeric data, it can hold any arbitrary Python Object.

In [1]:
import numpy as np
import pandas as pd

In [2]:
myindex = ['USA', 'Canada', 'Mexico']

In [3]:
mydata = [1776, 1867, 1821]

In [4]:
myser = pd.Series(data = mydata)

In [5]:
myser

0    1776
1    1867
2    1821
dtype: int64

In [6]:
type(myser)

pandas.core.series.Series

In [7]:
myser = pd.Series(data=mydata, index=myindex)

In [8]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [9]:
myser[0]

1776

In [10]:
myser['USA']

1776

In [11]:
ages = {'Spike' : 5, 'Erlich' : 15, 'Frank' : 20}

In [12]:
pd.Series(ages)

Spike      5
Erlich    15
Frank     20
dtype: int64

In [34]:
x = pd.Series(ages)

In [35]:
x

Spike      5
Erlich    15
Frank     20
dtype: int64

In [36]:
x['Spike']

5

In [16]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [17]:
sales_q1 = pd.Series(q1)

In [19]:
sales_q2 = pd.Series(q2)

In [20]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [22]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [23]:
sales_q1[0]

80

In [24]:
sales_q1['Japan']

80

In [25]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [29]:
sales_q1 * 2       # Broadcasting

Japan    160
China    900
India    400
USA      500
dtype: int64

In [27]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [28]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [30]:
sales_q1.add(sales_q2, fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [31]:
sum_sales = sales_q1.add(sales_q2, fill_value=0)

In [32]:
sum_sales.dtype

dtype('float64')

In [33]:
sales_q1.dtype

dtype('int64')