<a href="https://colab.research.google.com/github/Nidhi89717/ML/blob/main/16_Pivot_Tables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pivot Tables

Pivoting data can sometimes help clarify relationships and connections.

## Data

In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
df = pd.read_csv('gdrive/My Drive/csv_files/Sales_Funnel_CRM.csv')

In [4]:
df

,Account Number,Company,Contact,Account Manager,Product,Licenses,Sale Price,Status
0,2123398,Google,Larry Pager,Edward Thorp,Analytics,150,2100000,Presented
1,2123398,Google,Larry Pager,Edward Thorp,Prediction,150,700000,Presented
2,2123398,Google,Larry Pager,Edward Thorp,Tracking,300,350000,Under Review
3,2192650,BOBO,Larry Pager,Edward Thorp,Analytics,150,2450000,Lost
4,420496,IKEA,Elon Tusk,Edward Thorp,Analytics,300,4550000,Won
5,636685,Tesla Inc.,Elon Tusk,Edward Thorp,Analytics,300,2800000,Under Review
6,636685,Tesla Inc.,Elon Tusk,Edward Thorp,Prediction,150,700000,Presented
7,1216870,Microsoft,Will Grates,Edward Thorp,Tracking,300,350000,Under Review
8,2200450,Walmart,Will Grates,Edward Thorp,Analytics,150,2450000,Lost
9,405886,Apple,Cindy Phoner,Claude Shannon,Analytics,300,4550000,Won
10,470248,Exxon Mobile,Cindy Phoner,Claude Shannon,Analytics,150,2100000,Presented
11,698032,ATT,Cindy Phoner,Claude Shannon,Tracking,150,350000,Under Review
12,698032,ATT,Cindy Phoner,Claude Shannon,Prediction,150,700000,Presented
13,902797,CVS Health,Emma Gordian,Claude Shannon,Tracking,450,490000,Won
14,2046943,Salesforce,Emma Gordian,Claude Shannon,Analytics,750,7000000,Won
15,2169499,Cisco,Emma Gordian,Claude Shannon,Analytics,300,4550000,Lost
16,2169499,Cisco,Emma Gordian,Claude Shannon,GPS Positioning,300,350000,Presented

# The pivot() method

The pivot method reshapes data based on column values and reassignment of the index. It doesn't always make sense to pivot data. In our machine learning lessons, we will see that our data doesn't need to be pivoted. Pivot methods are mainly for data analysis,visualization, and exploration.

In [6]:
licenses = df[['Company','Product','Licenses']]

In [7]:
licenses

         Company          Product  Licenses
0         Google        Analytics       150
1         Google       Prediction       150
2         Google         Tracking       300
3           BOBO        Analytics       150
4           IKEA        Analytics       300
5     Tesla Inc.        Analytics       300
6     Tesla Inc.       Prediction       150
7      Microsoft         Tracking       300
8        Walmart        Analytics       150
9          Apple        Analytics       300
10  Exxon Mobile        Analytics       150
11           ATT         Tracking       150
12           ATT       Prediction       150
13    CVS Health         Tracking       450
14    Salesforce        Analytics       750
15         Cisco        Analytics       300
16         Cisco  GPS Positioning       300

In [9]:
#help(pd.pivot)

In [10]:
pd.pivot(data = licenses,index='Company',columns='Product',values='Licenses')

Product       Analytics  GPS Positioning  Prediction  Tracking
Company
 Google           150.0              NaN       150.0     300.0
ATT                 NaN              NaN       150.0     150.0
Apple             300.0              NaN         NaN       NaN
BOBO              150.0              NaN         NaN       NaN
CVS Health          NaN              NaN         NaN     450.0
Cisco             300.0            300.0         NaN       NaN
Exxon Mobile      150.0              NaN         NaN       NaN
IKEA              300.0              NaN         NaN       NaN
Microsoft           NaN              NaN         NaN     300.0
Salesforce        750.0              NaN         NaN       NaN
Tesla Inc.        300.0              NaN       150.0       NaN
Walmart           150.0              NaN         NaN       NaN

## The pivot_table() method

Similar to the pivot() method, the pivot_table() can add aggregation functions to a pivot call.

In [13]:
pd.pivot_table(df,index='Company',aggfunc='sum')

              Account Number  Licenses  Sale Price
Company
 Google              6370194       600     3150000
ATT                  1396064       300     1050000
Apple                 405886       300     4550000
BOBO                 2192650       150     2450000
CVS Health            902797       450      490000
Cisco                4338998       600     4900000
Exxon Mobile          470248       150     2100000
IKEA                  420496       300     4550000
Microsoft            1216870       300      350000
Salesforce           2046943       750     7000000
Tesla Inc.           1273370       450     3500000
Walmart              2200450       150     2450000

In [14]:
pd.pivot_table(df,index='Company',aggfunc='sum',values=['Licenses','Sale Price'])

              Licenses  Sale Price
Company
 Google            600     3150000
ATT                300     1050000
Apple              300     4550000
BOBO               150     2450000
CVS Health         450      490000
Cisco              600     4900000
Exxon Mobile       150     2100000
IKEA               300     4550000
Microsoft          300      350000
Salesforce         750     7000000
Tesla Inc.         450     3500000
Walmart            150     2450000

In [16]:
df.groupby('Company').sum()

              Account Number  Licenses  Sale Price
Company
 Google              6370194       600     3150000
ATT                  1396064       300     1050000
Apple                 405886       300     4550000
BOBO                 2192650       150     2450000
CVS Health            902797       450      490000
Cisco                4338998       600     4900000
Exxon Mobile          470248       150     2100000
IKEA                  420496       300     4550000
Microsoft            1216870       300      350000
Salesforce           2046943       750     7000000
Tesla Inc.           1273370       450     3500000
Walmart              2200450       150     2450000

In [18]:
pd.pivot_table(df,index=['Account Manager','Contact'],values=['Sale Price'],aggfunc='sum')

                              Sale Price
Account Manager Contact
Claude Shannon  Cindy Phoner     7700000
                Emma Gordian    12390000
Edward Thorp    Elon Tusk        8050000
                Larry Pager      5600000
                Will Grates      2800000

Columns are optional - they provide an additional way to segment the actual values we care about. The aggregation functions are applied to the values we list.

In [19]:
pd.pivot_table(df,index=['Account Manager','Contact'],values=['Sale Price'], columns=['Product'],aggfunc='sum',fill_value=0)

                             Sale Price
Product                       Analytics GPS Positioning Prediction Tracking
Account Manager Contact
Claude Shannon  Cindy Phoner    6650000               0     700000   350000
                Emma Gordian   11550000          350000          0   490000
Edward Thorp    Elon Tusk       7350000               0     700000        0
                Larry Pager     4550000               0     700000   350000
                Will Grates     2450000               0          0   350000

In [22]:
pd.pivot_table(df,index=['Account Manager','Contact','Product'],values=['Sale Price'],aggfunc=[np.sum,np.mean],fill_value=0,margins=True)
## get Final "ALL" with margins = True

                                                    sum          mean
                                             Sale Price    Sale Price
Account Manager Contact      Product
Claude Shannon  Cindy Phoner Analytics          6650000  3.325000e+06
                             Prediction          700000  7.000000e+05
                             Tracking            350000  3.500000e+05
                Emma Gordian Analytics         11550000  5.775000e+06
                             GPS Positioning     350000  3.500000e+05
                             Tracking            490000  4.900000e+05
Edward Thorp    Elon Tusk    Analytics          7350000  3.675000e+06
                             Prediction          700000  7.000000e+05
                Larry Pager  Analytics          4550000  2.275000e+06
                             Prediction          700000  7.000000e+05
                             Tracking            350000  3.500000e+05
                Will Grates  Analytics          2450000  2.450000e+06
                             Tracking            350000  3.500000e+05
All                                            36540000  2.149412e+06